* {
    margin: 0;
    padding: 0;
    font-size: 0%;
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    border: 2px solid black;
    height: 150px; 
}
.row{
    height: 156px;
    border: 3px solid red;  
}


.sub-colomn2{
    height: 148px;
    border: 2px solid blue;
} 
.row2{
    border: 3px solid red;
}
.column2{
    width: 50%;
    height: 300px;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid black;  
}

.row3{
    height: 306px;
    border: 3px solid red;
}
.column31 {
    float: left;
    width: 28%;
    border: 2px solid black;
    height: 300px; 
}
.column32 {
    float: left;
    width: 14%;
    border: 2px solid black;
    height: 300px; 
}
.column34{
    float: left;
    width: 44%;
    border: 2px solid black;
    height: 300px; 
}
.sub-colomn31{
    height: 148px;
    border: 2px solid blue;
} 
.sub-colomn34{
    height: 99px;
    border: 2px solid blue;
} 


.row4{
    border: 3px solid red;
}
.column4{
    width: 50%;
    height: 150px;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid black; 
}


.row5{
    border: 3px solid red;
}
.column5{
    width: 50%;
    height: 150px;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid black;  
}

