@media only screen and (max-width: 414px){
    .first1-box{
        width: 31.21%;
    }
    
    .second-l-box{
        width: 99%;
    }
    
    .third2-1-box{
        width: 45%;
    }
    
    .forth1-box{
        width: 48%;  
    }

    .fifth1-box{
        width: 48%;  
    }
    
}